<div class="container">
  <div class="row justify-content-center" style="margin-top: 5rem;">
    <div class="col-md-4">
      <div class="btn-group border" role="group" aria-label="Basic outlined example">
      <input type="file" (change)="selectFile($event)"/>
      <button type="button" class="btn btn-outline-secondary btn-sm" [disabled]="!selectedFiles" (click)="upload()">
        Upload
      </button>
    </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-md-4 ml-3">
<div *ngIf="currentFileUpload" class="progress">
  <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="{{percentage}}"
      aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: percentage + '%'}">
    {{ percentage }}%
    </div>
  </div>
  </div>
  </div>
  </div>

 





