<app-already></app-already>
<div class="container">
<div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-4">
        <img src="assets/intern.jpg" alt="">
      </div>
      <div class="col-md-4">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-primary" (click)="intern()">Interns</button>
          <button type="button" class="btn btn-outline-primary" (click)="supervisor()">Supervisors</button>
        </div>
        <div>
          <br>
          <h4>WELCOME,{{man}}</h4> 
         <p>Don't have an account?</p>
          <button type="button" class="btn btn-secondary" routerLink="/register">REGISTER NOW</button>  

        </div>
        </div>
      </div>
    </div>
  

