<app-already></app-already>
<br>
<div class="container">
<div class="row">
<div class="col-12">
<h1>Welcome, Intern</h1>
<br>
<p>please fill in the following fildse to create an acounnt</p>
</div>
</div>
<div class="row my-3">
    <label class="form-label col-4">
      Full name
      <input  type="text" class="form-control" placeholder="Full name" [(ngModel)]="name" required>
    </label> 
    <label  class="form-label col-4">
      ID number
      <input [(ngModel)]="id" class="form-control" type="text" placeholder="ID number" required>
    </label>   
    <label class="form-label col-4">
      Passport/Citizenship
      <input class="form-control" [(ngModel)]="passport" type="text" placeholder="Passport/Citizenship" required>
    </label>
  </div>
  <div class="row my-3">
    <label class="form-label col-4">
      Phone number
      <input class="form-control" [(ngModel)]="phone" type="tel" placeholder="Phone number" required>
      <div><small>A verification code will by sent to you to this number</small></div>
    </label>
  </div>      
    <button type="button"  class="btn btn-secondary" type="submit" routerLink="/register2" (click)='register()'>CONTINUE</button>
</div>
    

        
    


    