<header><img *ngIf="img" [src]="img.imageAsDataUrl" height="50px"> {{name}}</header>
<div class="container d-flex justify-content-start">
    <div class="row">
        <div class="col-12">
    <h3><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
    fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
          </svg> Your profile is ready</h3> 
    
    <br>    
        <p>Now you can start using the simulator system: practise, do tests and
             <br> monitor your progress</p>
        <br>
        <button type="button" class="btn btn-secondary" routerLink="/profile">LOG IN</button>
        <footer>
            <br><br><br>
            <p> 100% Completed</p>
            <div class="progress" style="height: 5px;">
              <div class="progress-bar" role="progressbar" style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </footer> 
    </div>
