<p class="text-center text-secondary mt-5">
    <small>Your progress</small>
  </p>            
    <ul class="y_axis">         
    <li>100</li>
    <li>80</li>
    <li>60</li>
    <li>40</li>
    <li>20</li>
  </ul>
    <div class="chart text-center text-white border border-secondary border-top-0 border-right-0">
      <div class="bar-45">55</div>
      <div class="bar-88">90</div>
      <div class="bar-55">60</div>
      <div class="bar-70">75</div>
      <div class="bar-46">55</div>
      <div class="bar-94">95</div>
    </div>
    <p class="text-secondary" style="margin-left: 4rem;">&nbsp; 01/20 &nbsp; 04/20 &nbsp; 07/20</p> 
