.y_axis {
    padding:0;
    list-style:none;
    text-align:right;
    float:left;
    margin-right: 0.2rem;
    margin-left: 2rem;
    color: 	#808080;
 }
 li {
   margin-top: 0.8rem;
 }
 .x_axis {
   margin-left: 4rem;
 }
 
 .chart {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(100, 1fr);
   grid-column-gap: 5px;
   height: 18vh;
   width: 9vw;
   padding: 5px 10px;
   margin-left: 3rem;
   margin-top: 2rem;
 }
 
 [class*="bar"] {
   border-radius: 4px 4px 0 0;
   grid-row-start: 1;
   grid-row-end: 101;
 }
 
 $totalRows: 101;
 
 @mixin chartValue($data) {
   $result: $totalRows - $data;
   grid-row-start: $result;
 }
 
 @for $i from 1 through $totalRows {
   .bar-#{$i} {
     @include chartValue($i);
   }
 }
 
 [class*="bar"]:nth-child(odd) {
  background-color: 	#808080; 
 }
 
 [class*="bar"]:nth-child(even) {
  background-color: #0074d9;
 }
 
 