<p>Don't have an account?<a routerLink="/"> Create an account</a></p>

<div class="container">
         <header class="text-center" style="margin-top: 1rem;"><h3>Login</h3></header>
    <div class='row justify-content-center' style="margin-top: 2rem;">
       
        <label class="col-md-10">
            Full-Name
            <input type="text" name="username" placeholder="" [(ngModel)]="name" #un="ngModel" required
                [ngClass]="{'form-control':true,'is-invalid': !un.valid && (un.dirty || un.touched), 'is-valid': un.valid && (un.dirty || un.touched)}">
            <div class="invalid-feedback">This field is required</div>
        </label>
    </div>
    <div class='row justify-content-center' style="margin-top: 0.5rem;">
        <label class="col-md-10">
            Phone Number
            <input type="tel" name="Phone" placeholder="" [(ngModel)]="phone" #p="ngModel" required
                [ngClass]="{'form-control':true,'is-invalid': !p.valid && (p.dirty || p.touched), 'is-valid': p.valid && (p.dirty || p.touched)}">
            <div class="invalid-feedback">This field is required</div>
        </label>
    </div>
    <div class='row justify-content-center' style="margin-top: 3rem; margin-bottom: 2rem;">
        <button class='btn btn-outline-secondary col-8' type="button" (click)="login()">Login</button>
    </div>
</div>