.results {
    display: flex;
    align-items: center;
    justify-content: center;         
}
.circle {
    border-radius: 100%;
    border: 3px solid;    
    font-size: 20px;
    padding: 5px;
    align-items: center;
   
}

