<app-header></app-header>
<div style="text-align: center;">
  <p>Soroka Academic Hospital</p> 
</div>
      <br><br>
      <div class="container">
        <div class="row">
          <div class="col-md-3 border">
            <img src="assets/person.png" style="padding-left: 5rem; margin-top: 3rem;">
            <p style="text-align: center;margin-top: 1rem;">User-Name</p>
            <p style="text-align: center; color: 	#808080;">
              <small> Soroka Academic Hospital <br>  2 years surgery intern</small>
            </p>
            <p style="text-align: center; margin-top: 4rem;">
              <small>Your progress</small>
            </p>
            <div style="text-align: center; margin-top: 2rem;">
              <div class="progress" style="max-width: 75%;margin-left: 2rem; height: 8px;">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 95%"
                 aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
              <div class="progress" style="max-width: 75%;margin-left: 2rem;margin-top: 0.5rem; height: 8px;">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 95%"
                 aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
              <div class="progress" style="max-width: 75%;margin-left: 2rem;margin-top: 0.5rem; height: 8px;">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 85%"
                 aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
              <div class="progress" style="max-width: 75%;margin-left: 2rem;margin-top: 0.5rem; height: 8px;">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 85%"
                 aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
              <div class="progress" style="max-width: 75%;margin-left: 2rem;margin-top: 0.5rem; height: 8px;">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 75%"
                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
              <div class="progress" style="max-width: 75%;margin-left: 2rem;margin-top: 0.5rem; height: 8px;">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 65%"
                 aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
              <div class="progress" style="max-width: 75%;margin-left: 2rem;margin-top: 0.5rem; height: 8px;">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 55%"
                 aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
              <div class="progress" style="max-width: 75%;margin-left: 2rem;margin-top: 0.5rem; height: 8px;">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 45%"
                 aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div> 
            </div>
            <div style="text-align: center; margin-top: 2rem;">
              <button class="btn btn-sm btn-outline-secondary" routerLink="/">Home</button>
            </div>                                  
          </div>
          <div class="col-md-5 border">
            <br>
            <app-results></app-results>
          </div>
          <div class="col-md-4 border">
            <br>
            <app-card-results></app-card-results>
          </div>
        </div>
      </div>
        
     
     
     

                              
           