<app-header></app-header>
<div style="text-align: center;">
  <p>Soroka Academic Hospital</p> 
</div>
      <br><br>
      <div class="container">
        <div class="row">
          <div class="col-md-2 border">
            <img src="assets/person.png" style="padding: 30px;">
            <p style="text-align: center;">User-Name</p>
            <small>Soroka Academic Hospital <br> &nbsp;&nbsp;&nbsp; 2 years surgery intern</small>
            <br><br><br><br>
            <small> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your progress</small>
            <br><br>
            <hr class="border"><hr><hr>
            <hr class="border"><hr><hr>
            <hr class="border"><hr><hr>
            <hr class="border"><hr><hr>
            <hr class="border"><hr><hr> 
            <hr class="border"> 
          </div>
          <div class="col-md-6 border">
            <br>
            <app-results></app-results>
          </div>
          <div class="col-md-4 border">
            <br>
            <app-card-results></app-card-results>
          </div>
        </div>
      </div>
        
     
     
     

                              
           