p {   
    color: 	#808080;
}

.chart {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 5px;
  height: 18vh;
  width: 8vw;
  padding: 5px 10px;
  margin-left: 3rem;
  margin-top: 2rem;
}

[class*="bar"] {
  border-radius: 5px 5px 0 0;
  transition: all .6s ease;
  background-color: 	#808080;
  grid-row-start: 1;
  grid-row-end: 101;
}

$totalRows: 101;

@mixin chartValue($data) {
  $result: $totalRows - $data;
  grid-row-start: $result;
}

@for $i from 1 through $totalRows {
  .bar-#{$i} {
    @include chartValue($i);
  }
}

[class*="bar"]:nth-child(odd) {
 background-color: 	#808080; 
}

[class*="bar"]:nth-child(even) {
 background-color: #0074d9;
}

