<app-header></app-header>
<div style="text-align: center;">
  <p>Soroka Academic Hospital</p> 
</div>
      <br><br>

      <!-- Demo profile -->

      <div class="container">
        <div class="row">
          <div class="col-md-3 border">

            <!-- // No webcam
            <img *ngIf="user.img" [src]="user.img.imageAsDataUrl" height="50px" style="border-radius: 50%;">
             <p style="text-align: center;margin-top: 1rem;">{{user.name}}</p> --> 
                       
            <img src="assets/person.png" style="padding-left: 5rem; margin-top: 3rem;">
            <p style="text-align: center;margin-top: 1rem;">User-Name</p>
            <p style="text-align: center; color: 	#808080;">
              <small> Soroka Academic Hospital <br>  2 years surgery intern</small>
            </p>
            <app-progress></app-progress>                                                      
          </div>
          <div class="col-md-5 border">
            <br>
            <app-results></app-results>
          </div>
          <div class="col-md-4 border">
            <br>
            <app-card-results></app-card-results>
          </div>
        </div>
      </div>
        
     
     
     

                              
           