<app-already></app-already>
<div class="container d-flex justify-content-center">
  <div class="row align-items-center">
      <div class="col-md-8">
  <h3>{{name}}, please look straight at the <br> camera so we can spot you</h3>
   <p> You will automatically be taken to the next step as <br> soon as you take a picture</p>
</div>
   <div class="col-md-4">
    <webcam [height]="350" [width]="350" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
<!-- Button Takes Photo -->

<!-- There is currently no webcam so the function in the comment -->

<!-- <button type="button" class="btn btn-secondary" (click)="triggerSnapshot();" routerLink="/register-success">Take A Snapshot</button> -->

<button type="button" class="btn btn-secondary"  routerLink="/register-success">Take A Snapshot</button>
   </div>
  