<header><img *ngIf="img" [src]="img.imageAsDataUrl" height="50px"> {{name}}</header>
<br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
    <div class="col-12">
    <h6>Professionally details</h6>
    <br>
    <p>Please tell as about yourself, Professionally</p>
    </div>
    </div>
    <form>
    <div class="row my-3">
        <label class="form-label col-4">
          Medical institution
          <input  type="text" class="form-control" placeholder="Medical institution" [(ngModel)]="user.medicalInstitution">
        </label> 
        <label  class="form-label col-4">
          Residency
          <input [(ngModel)]="user.residancy" class="form-control" type="text" placeholder="Residency">
        </label>   
        <label class="form-label col-4">
          Department
          <input class="form-control" [(ngModel)]="user.department" type="text" placeholder="Department">
        </label>
      </div>
      <div class="row my-3">
        <div class="col-4">
            <label>Year in residency</label>
              <input type="range" class="form-control" [(ngModel)]="user.residancyYear" min="0" max="5">                                          
        </div>     
      </div>      
        <button type="button"    class="btn btn-secondary" type="submit" (click)="done()">DONE!</button>
      </form> 
      <footer>
        <br><br><br>
        <p> 65% Completed</p>
        <div class="progress" style="height: 5px;">
          <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </footer> 
      </div>
