<app-already></app-already>
<div class="container">
    <div class="row">
        <div class="col-12">
    <h1>Hi {{name}}!</h1> <p> Please type the mobile verification
        <br> code you received</p>
</div>
    <input type="number" class="m-2" id="quantity" name="quantity" min="0" max="9">
    <input type="number" class="m-2" id="quantity" name="quantity" min="0" max="9">   
    <input type="number" class="m-2" id="quantity" name="quantity" min="0" max="9">
    <input type="number" class="m-2" id="quantity" name="quantity" min="0" max="9">

<div class="col-12">
    <br>
    <p>I did not receive,<a href=""> resend</a></p>
</div>
<div class="col-12">
    <br>
    <button type="button" class="btn btn-secondary" routerLink="/register3">CONTINUE</button>
</div>
  
</div>
</div>
