<app-already></app-already>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
    <h1>Hi {{user.name}}!</h1> <p> Please type the mobile verification
        <br> code you received</p>
</div>
    <input type="number" (keyup)="onDigitInput($event)" class="m-2" [(ngModel)]="code.one" required autofocus>
    <input type="number" (keyup)="onDigitInput($event)" class="m-2" [(ngModel)]="code.two" required>   
    <input type="number" (keyup)="onDigitInput($event)" class="m-2" [(ngModel)]="code.three" required>
    <input type="number" (keyup)="onDigitInput($event)" class="m-2" [(ngModel)]="code.four" required>
    <div class="text-danger col-12"  *ngIf="wrong"><small>Wrong code please try again!</small></div>

<div class="col-12">
    <br>
    <p>I did not receive,<a routerLink="/register2" (click)="resend()">resend</a></p>
</div>
<div class="col-12">
    <br>
    <button type="button" class="btn btn-secondary" (click)="register()">CONTINUE</button>
</div>
  
</div>
</div>
